
<nav class="navbar navbar-expand-lg navbar-light  bg-danger ">
  <div class="container-fluid">
   <a class="navbar-brand" [routerLink]="['productos']"><img  style="width: 2rem; width: 6rem;"  alt=""> listado Producto</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['login']">Login</a>
        </li>
        <li class="nav-item">
          <a style="float: right;" class="nav-link" [routerLink]="['carrito']"> <mat-icon>shopping_cart</mat-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" (click)="salir()">Salir</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>
